@font-face {
    font-family: "Satoshi";
    font-weight: 300;
    src: url("https://namespace-widgets.fra1.digitaloceanspaces.com/namespace-vite-widget/satoshi/Satoshi-Light.ttf") format('truetype');
}

@font-face {
    font-family: "Satoshi";
    font-weight: 600;
    src: url("https://namespace-widgets.fra1.digitaloceanspaces.com/namespace-vite-widget/satoshi/Satoshi-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "Satoshi";
    font-weight: 700;
    src: url("https://namespace-widgets.fra1.digitaloceanspaces.com/namespace-vite-widget/satoshi/Satoshi-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Satoshi";
    font-weight: 800;
    src: url("https://namespace-widgets.fra1.digitaloceanspaces.com/namespace-vite-widget/satoshi/Satoshi-Black.ttf") format('truetype');
}
